
/* float 태그를 사용하기 위해서 초기화 하는 작업 */
section .artifact-me::after{
    content:"";
    display:block;
    clear: both;
}

/* 아이템의 스타일링을 해준다. */
section .artifact-me .artifact-inner{
    width: 30%;
    margin-right: 5%;
    background-color: #fff;
    float: left;
    padding: 1rem 1rem 1.5rem 1rem;
    border: 1px solid #ccc;
    margin-bottom: 3rem;
}

/* 아이템이 한줄에 세개씩이 보여야 되는데 2개씩만 보인다.
   이유는 margin 때문이라서 3번째오는 아이템에서 margin을 삭제하는 작업을 해준다. 

*/
section .artifact-me .artifact-inner:nth-child(3n){
    margin-right: 0;
}

/* 이미지가 다 차도록 작업을 해준다. 
   그리고 이미지가 블록 성격이 아닌데, 블록으로 지정해 준다.
 */
section .artifact-me .artifact-inner img{
    width: 100%;
    display: block;
}


section .artifact-me .artifact-inner strong{
    color: #fa6a6a;
    margin: 0.5rem 0;
    /* strong 태그가 블록형태가 아니라 block으로 바꿔준다.
       그러지 않으면 마진이 적용이 안된다.
     */
    display: block;
}

/* h3 태그 코카콜라등 의 태그의 내용을 수정해 준다. */
section .artifact-me .artifact-inner h3{
    font-size: 1.75rem;
}

