/* 사용할 구글 폰트를 복사해서 삽입해준다. 
Poppins Regular 400,700
Varela Round 400
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');

/* 전체 스타일을 초기화 해준다. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* a태그 같은 경우에는 텍스트 데코레이션이 
   기본적으로 지정이 되어 있기 때문에 
   텍스트 데코레이션을 none으로 지정하고, 
   색상의 경우에는 부모의 색상을 상속받도록 
   inhert을 지정한다.
*/
a,a:link,a:visited{
    color: inherit;
    text-decoration: none;
}

/* li 태그에는 기본적으로 스타일이 적용되어 
   있기때문에 없애기 위해서 none으로 지정
 */
 li{
    list-style: none;
 }

  /* container 클래스의 
   크기는 1140px로 지정
*/
.container{
   width:1140px;
    /* 컨테이너 영역이 항상 중앙에 위치시키기 위해 
       margin 0 auto를 지정해 준다. 
     */
   margin:0 auto;
}

/* 공통 - title css  */
section{
   font-family: 'Poppins', sans-serif;
   padding: 5rem 0 ;
}

section:nth-child(2n){
   background-color: #f8f8f8;
}

section .intro-self::after{
   content: '';
   clear: both;
   display: block;
}

section .title{
   margin-bottom: 3rem;
}

section .title h4{
   font-size: 1.35rem;
   color: #ed4848;
   position: relative;
}

section .title h2{
   font-size: 3.5rem;
}

section .title p{
   font-size: 1.15rem;
}
